
@{
    ViewBag.Title = "Add Project!";
}
<h1>Thank you for add new Project</h1>
<br />
<br />
<h2>Press button to view projects </h2>
<br />
<button>@Html.ActionLink("View All Projects", "DetailsProject","Student")</button>
