
@{
    ViewBag.Title = "Done!";
}
<br />
<br />
<h1>Thank you for add Student in AcademyApp.</h1>
<br />
<h3>Press the button to view added student</h3>
<br />
<br />
<button>@Html.ActionLink("GO BACK!", "Students", "Student")</button>
